
.jumbotron::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: 
        linear-gradient(
            rgba(33,33,33,0),
            rgba(33,33,33,1)
        ),
        url("binary_sm.png");
    opacity: 0.8;
    top: 0;
    left: 0; 
}
